/* @theme intership2 */

/*
  ============================================
    Created by kevin pilo
    version: 1.0
    last update: junio 2022
  ============================================       
*/

/* Importing COLOR SCHEMA */

@import "default";
@import "schema";
@import "structure";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
/***************** COMMON STRUCTURE **********************/

:root {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: initial;
  background-color: #2b388f;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    text-align: center;
    font-size: 3rem;
}
ul{
  font-size: 1em;
}



section.cite {
  --strong-color        : rgba(255, 5, 5, 0.795);
  
}

section.titlepage .author,
section.titlepage .date,
section.titlepage .organization {
  text-align: left;
}

section strong {
  color:rgba(5, 51, 255, 0.534) ;
  color:rgba(5, 43, 255, 0.979) ;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 600;
}

section.transition2 strong {

  color: rgb(10, 100, 235);
  color: rgb(161, 240, 3);

}


section img {
  width: 200px;
  height: 200px;
}


